body {
    width: 960px;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0px auto;
    padding: 0px;
    font-family: 'Coming Soon', cursive;
}
a {
    text-decoration: none;
    color: rgba(249, 199, 0, 1);
    font-weight: bold;
}

a:active {
    -moz-outline-style: none;
    text-decoration: none;
    outline: none;
    border:none;
}

a:focus {
    outline: none;
    -moz-outline-style: none;
    text-decoration: none;
    border:none;
}
#wrapper {
    min-height: 100%;
}

#header {
    background-image: -ms-linear-gradient(top, #666666 0%, #000000 100%); 
    background-image: -moz-linear-gradient(rgba(99, 99, 99, 1) 20%, rgba(0, 0, 0, 0.7) 90%);
    background-image: -o-linear-gradient(top, #666666 0%, #000000 100%);

    background-image: -webkit-gradient(
                    linear, left top, left bottom, color-stop(20%, rgba(99, 99, 99, 1)),
                    color-stop(1, rgba(90%, 0, 0, 0.7))
                    );

    background-image: -webkit-linear-gradient(top, rgba(99, 99, 99, 1) 20%, rgba(0, 0, 0, 0.7) 90%);
    background-image: linear-gradient(to bottom, rgba(99, 99, 99, 1) 20%, rgba(0, 0, 0, 0.7) 90%);

    height: 80px;
    width: 960px;
    margin: 0px;
    position: fixed;
    top: 0px;
}

#logo {
    width: 198.55px;
    height: 130px;
    position: absolute;
}
#navbar_top > ul {
    margin: 0px;
}

#navbar_top li {
    list-style: none;
    display: block;
    padding: 25px 53px;
}

#navbar_top li:hover{
    background-color: #000000;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.active {
    border: solid;
    border-color: rgba(249, 199, 0, 0.3);
    border-width: 0.5px;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;

    padding: 11px;

    box-shadow: 0px 0px 3px 3px #FCAB14 inset;

    z-index: 99999;
}

#navbar_top a{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

#navbar_top > ul > li {
    float: right;
    height: 30px;
}

#navbar_top li > ul {
    right: -9999px;
    position: absolute;
    width: 154px;
    top: 50px;
    padding-top: 30px;

    background-image: -ms-linear-gradient(bottom, #666666 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #666666 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #666666 0%, #000000 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #666666), color-stop(1, #000000));
    background-image: -webkit-linear-gradient(bottom, #666666 0%, #000000 100%);
    background-image: linear-gradient(to top, #666666 0%, #000000 100%);

    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

    -webkit-border-top-left-radius: 9px;
    -moz-border-radius-topleft: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}

#navbar_top li:hover > ul{
    right: 0px;
}

#navbar_top li:active > ul {
    right: 0px;
}

#navbar_top li:focus > ul {
    right: 0px;
}

#navbar_top li > ul > li {
    width: 185px;
    border: none;
    position: relative;
    right: 40px;
    padding: 5px;
}

#navbar_top li > ul > li:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    border: solid;
    border-color: rgb(249, 199, 0);
    border-width: 1px;

    padding: 4px;
}
#navbar_top li:hover > ul > li > a {
    display: block;
    height: 20px;
    padding: 15px;
}

#container {
    margin-top: 100px !important;
    overflow: auto;
    margin-bottom: -50px;
    padding-bottom: 70px;
    font-family: 'Coming Soon', cursive;
}

#container h2 {
    font-size: 30px;
}

.post {
    width: 390px;
    background-color: #636363;
    padding: 20px;
    margin: 30px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.post a {
    position: relative;
    top: 10px;
    padding-bottom: 10px;
}
.post h3 {
    font-size: 20px;
}
.pagination {
    display: block;
    margin-top: 100px;
    text-align: center;
}

#footer {
    clear:both;
    height: 60px;
    position: relative;
    margin-top: -50px;

    background-image: -ms-linear-gradient(bottom, #666666 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #666666 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #666666 0%, #000000 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #666666), color-stop(1, #000000));
    background-image: -webkit-linear-gradient(bottom, #666666 0%, #000000 100%);
    background-image: linear-gradient(to top, #666666 0%, #000000 100%);
}

#footer a {
    color: #FFFFFF;
    position: relative;
    bottom: -20px;
    font-size: 11px;
    display: block;
    text-align: center;
    margin: auto;
    width: 139px;
    z-index: 999;
}