<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>    <title>
    {% block title %}
            Deedee Lab
    {% endblock %}
    </title>
    </head>

    <body>
    {% block wrapper %}

    {% block header %}
    <div id="header">
        {% block navbar_top %}
        <a href="/my_site/index/"> <img src="/static/img/logo.png" alt="logo" id="logo" /> </a>
        <div id = "navbar_top" >
            <ul>
                <li><a href="/my_site/categories/">Categories</a>
                    <ul>
                       <li><a href="/my_site/category/linux/">Linux Issues</a></li>
                       <li><a href="/my_site/catgeory/general_issues/">General Issues</a></li>
                       <li><a href="/my_site/catgeory/webdevelopment/">Webdevelopment</a></li>
                       <li><a href="/my_site/catgeory/programming/">Programming Issues</a></li>
                    </ul>
                </li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Usefull Tools</a>
            </ul>
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    <div id = "container">
    {% block container %}
        <div class="clearfix">
        </div>
    {% endblock %}
    </div>

    {% block footer %}
        <div id="footer">
        <a href="/my_site/about/">You like what you seeing? Find out more!</a>
        </div>
    {% endblock %}

    {% block scripts %}
    <div id="scripts">
        <script src="/static/js/jquery.js" type="text/javascript" ></script>
        <script src="/static/js/active.js" type="text/javascript" ></script>
    </div>
    {% endblock %}

    {% endblock %}
    </body>
</html>