{% extends "deedee/base.html" %}

{% block title %}
    {{ post.post_title }}
{% endblock %}

{% block container %}

    <div class="details">
                <h3> {{post.post_title}} </h3>
                <span class="created">{{ post.created_at }}</span><br/>
                <span class="details-post">
                   {{ post.post_content}}
                </span>
    </div>

    <p class="add">
        Add comment for this post
        <img class="add" alt="Add Comment" src="/static/img/add-violet.png" data-type="zoomin">
    </p>
    <div class = "comments">
        {% if comments_for_post %}
            {% for comment in comments_for_post %}
                <div class = "comment">
                    <span class = "comment-content"> {{ comment.comment_content }} </span>
                    <p class="comment-author">
                        {{ comment.comment_author }}
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <span class="empty-comments"> No comments under this post </span>
        {% endif %}
    </div>

    <div class="overlay-container">
        <div class="window-container zoomin">
            <form method="post" action=""> {% csrf_token %}
                 {{ form.title.errors }}
                 {{ form.errors }}
                 {{ form.non_field_errors }}
                 {% for field in form.visible_fields %}
                    {{ field.label_tag }} : {{ field }}
                 {% endfor %}
                <input type="submit" value="Submit" />
            </form>
            <span class="close">Close</span>
        </div>
    </div>

    <div class = "posts_nav" >
        {% if previous|length > 0 %}
            <p id="previous">
                <a href="/my_site/posts/{{ previous.id }}" > <-- {{ previous.post_title }} </a>
            </p>
        {% endif %}

        {% if next|length > 0 %}
            <p id="next">
                <a href="/my_site/posts/{{ next.id }}"> {{ next.post_title }} --> </a>
            </p>
        {% endif %}

    </div>
{% endblock %}